// Container Code
pre
	background-color $code-background-secondary
	background-color $code-background
	padding 1em
	overflow auto

// Code HTML
.html
	.title
		color #905
	.attribute
		color #690
	.value
		color #f0ad4e

//Code Javascript
.javascript
	.keyword
		color #905
	.option
		color #690
	.element
		color #f0ad4e

//Scroll Code
.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal
	bottom -8px