body
	font-family 'Roboto', sans-serif;
	font-weight normal
	font-size 100%
	color $default
	background-color $background

h1
h2
h3
	font-family 'Ubuntu', sans-serif;
	color $title
	margin 1em 0

p
	color $default
	margin 1em 0

a
	color $title